root = true

[*]
charset = utf-8
insert_final_newline = true
max_line_length = unset

[*.diff]
trim_trailing_whitespace = false

[*.md]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = true

[*.{ps1,psm1,psd1}]
charset = utf-8-bom
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
